

html {
    font-size: 3vw;
    
}

h1 {
    font-size: 2em;
}

p {
    font-size: 0.5em;
}

div, nav, footer {
    outline: dashed 3px pink;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
     background-image: url("../images/lagoonboatblue.jpg");
}

nav {
    height: 100px;
}

.left-content, .right-content {
    width: 18%;
    height: 200px;
    margin-top: 130px;
    float: left;
    
}

.main-content {
    width: 60%;
    height: 450px;
    margin: 10px 2%;
    float: left;
}

footer {
    height: 100px;
    clear: both;
}